@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: "Zilla Slab", serif;
  font-size: 10px;
  background-color: #241F31;
}

ul {
  padding: 0;
  margin-left: 2em;
  margin-top: 1em;
  list-style-type: disc;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flexTitleScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subFlexTitleScreen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 175px;
  width: 320px;
}

.flexRoundSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3em;
}

.resetFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameSectionFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerSectionFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.computerSectionFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tableSectionFlex {
  display: flex;
  justify-content: space-around;
}

.unloadedPage {
  display: none;
}

@media (min-width: 768px) {
  .subFlexTitleScreen {
    height: 175px;
    width: 600px;
  }

  .flexRoundSelect {
    margin-top: 5em;
  }
}
@media (min-width: 960px) {
  .subFlexTitleScreen {
    height: 300px;
    width: 1200px;
  }

  .gameSectionFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
.roundSelectBtn {
  height: 50px;
  width: 100px;
  background-color: #8DFF51;
  border: 1em solid #8DFF51;
  border-radius: 10px;
}

#resetBtn {
  height: 50px;
  width: 100px;
  background-color: #8DFF51;
  border: 1em solid #8DFF51;
  border-radius: 10px;
  margin: 1em 0;
}

.playerBtn {
  height: 100px;
  width: 100px;
  background-color: #8DFF51;
  border: none;
  margin: 1em 1em;
}

.activeAI {
  height: 100px;
  width: 100px;
  background-color: #8DFF51;
  border: none;
  margin: 1em 1em;
}

.inactiveAI {
  display: none;
}

@media (min-width: 768px) {
  .roundSelectBtn {
    height: 75px;
    width: 150px;
  }

  #resetBtn {
    height: 75px;
    width: 150px;
  }

  .playerBtn {
    height: 200px;
    width: 200px;
  }

  .activeAI {
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 960px) {
  .roundSelectBtn {
    height: 100px;
    width: 300px;
  }

  #resetBtn {
    height: 100px;
    width: 300px;
  }

  .playerBtn {
    height: 250px;
    width: 250px;
  }

  .activeAI {
    height: 250px;
    width: 250px;
  }
}
table {
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #fff;
  text-align: left;
  padding: 1em;
  color: #8DFF51;
}

tr:nth-child(even) {
  background-color: #8DFF51;
}
tr:nth-child(even) td {
  color: #241F31;
}

h1 {
  font-size: 2.4em;
  font-weight: 700;
  color: #8DFF51;
  margin: 50px 0px;
}

p {
  font-size: 1.8em;
  color: #8DFF51;
}

li {
  font-size: 1.8em;
  color: #8DFF51;
}

button {
  font-size: 1.4em;
  color: #241F31;
  text-align: center;
}

.fas {
  color: #241F31;
  font-size: 2.4em;
}

.specialText {
  font-size: 3.6em;
  font-weight: 700;
  color: #8DFF51;
}

th, td {
  font-size: 1.8em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.8em;
  }

  p {
    font-size: 2.4em;
  }

  li {
    font-size: 2.4em;
  }

  button {
    font-size: 2em;
  }

  .specialText {
    font-size: 6.4em;
  }

  th, td {
    font-size: 3.6em;
  }
}
@media (min-width: 960px) {
  h1 {
    font-size: 7.2em;
  }

  p {
    font-size: 3.6em;
  }

  li {
    font-size: 3.6em;
  }

  button {
    font-size: 3em;
  }

  th, td {
    font-size: 4.8em;
  }
}